.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;   
    background-image: url(https://images.pexels.com/photos/1916824/pexels-photo-1916824.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    background-position: center;
}